<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Sean's Fitness Centre</title>
		<link rel="stylesheet" href="../static/main.css">
		<style>
            

		</style>
	</head>
	<body>
		<div class = "title" id = "banner">
			<h1  id = "banner" class = "title"> Welcome to Sean's Fitness Centre </h1>
		</div>
        <nav>
            <a href="index.html">Fintess Calculator</a>
            <a href ="plans.html"> Fitness Plans</a>
		  </nav> <br>
		  <img src = "../src/Screen Shot 2020-04-16 at 8.49.25 PM.png">
	</body>
